extends layout 

block content
  h1 Employee Name : #{employee.name}
  h4 Employee Salary : #{employee.salary}
  h4 Employee Designation : #{employee.designation}
  h4 LastModifiedTime : #{employee.lastmodifiedtime}
  h5 Created by #{author}
  hr
  if user
    if user.id ==employee.author
      a.btn.btn-default(href='/employees/edit/'+employee._id) Edit 
      
  
